/*****************************************************************
  GRAND ECRAN
*****************************************************************/

@media (min-width: 1700px) and (max-width: 12000px){



}

/*****************************************************************
  PC PORTABLE
*****************************************************************/

@media (min-width: 1024px) and (max-width: 1279px){


}

/*****************************************************************
  TABLETTE PAYSAGE
*****************************************************************/

@media (min-width: 768px) and (max-width: 1023px){


}

/*****************************************************************
  TABLETTE PORTRAIT
*****************************************************************/

@media (min-width: 400px) and (max-width: 767px){

header {
    height: 60px;
}

.float_menu_rigth a{
	display: none;
}

footer{
	display: block;
}

}

/*****************************************************************
  SMARTPHONE
*****************************************************************/

@media all and (max-width: 399px){

header {
    height: 60px;
}

.float_menu_rigth a{
	display: none;
}

footer{
	display: block;
}



}



